pkgbase = openrocket-yar
	pkgdesc = A free and fully featured rocket flight simulator - 6 degrees of freedom
	pkgver = 211027
	pkgrel = 1
	url = https://github.com/yorkaerospace/openrocket
	arch = any
	license = GPL3
	depends = java-environment=8
	depends = desktop-file-utils
	conflicts = openrocket
	replaces = openrocket
	noextract = OpenRocket-YAR-211027.jar
	source = https://github.com/yorkaerospace/openrocket/releases/download/yar-21.10.27/OpenRocket-YAR-211027.jar
	source = openrocket.1
	source = de_debian.tar.gz
	md5sums = 33330e1287bfeee321d4e6af39b221fe
	md5sums = 54eb3c1641feb1eac7d4e4d9e912434a
	md5sums = f8edc554065e121767355936727fc88a
	sha256sums = 40c0526672d7f849d6c71710c8a8772fef4df2663cb922647c38aa3d76c6e3af
	sha256sums = 74ab605cb11161784d4af96d018eb88adf7a2e4a8b1088a64b94b1e8ec5e18d1
	sha256sums = 62c4e739f82fa53fdae8a41f12bfb2828b77df89c8f48b1a790192a8e773cb98

pkgname = openrocket-yar
